<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>App1</title>
    <!-- <script src='https://webcdn.233leyuan.com/common/pandora/2.0/pandora_sdk.min.js'></script> -->
  </head>
  <body>
    <div id="<%= context.config.mountElementId %>">
    </div>
  </body>
</html>